:root {
  --color-prim: #33323f;
  --color-acc: #8b507f;
  --color-acc-light: #cf79be;
  --color-acc-dark: #4d293d;
  --color-sec: #dfe0e4;

  --font-family: Helvetica, sans-serif;

  --transition-time: 200ms;

  --input-border-radius: .2rem;
  --input-v-padding: .2rem;

  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 400;

  background-color: var(--color-prim);
  color: var(--color-sec);
}

::selection {
  background-color: var(--color-sec);
  color: var(--color-acc);
}

button {
  padding: var(--input-v-padding) .5rem;
  border-width: .1rem;
  border-style: outset;

  border-radius: var(--input-border-radius);
  border-color: var(--color-sec);
  color: var(--color-sec);
  background-color: var(--color-acc);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  outline-width: 0;

  transition:
    background-color var(--transition-time),
    filter var(--transition-time);
}

button:enabled:hover {
  cursor: pointer;
  background-color: var(--color-acc-light);
}

button:enabled:active {
  background-color: var(--color-acc-light);
  filter: brightness(1.2);
}

.small-icon-button {
  width: 1lh;
  height: 1lh;
  padding: .05rem;
}

input {
  padding: var(--input-v-padding) .5rem;
  border-width: 0;

  border-radius: var(--input-border-radius);
  color: var(--color-sec);
  background-color: var(--color-acc);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  outline-width: 0;
}

label {
  user-select: none;
  text-align: center;
}

input[type="file"] {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
  flex-grow: 0;

  height: 4rem;
  padding: 0 1rem;
  border-width: .1rem;

  border-radius: 1000000px;
  border-color: var(--color-sec);
  border-style: dashed;
  background-color: transparent;
  cursor: pointer;

  align-content: center;
  text-align: left;

  transition: background-color var(--transition-time);
}

input[type="file"]:hover {
  background-color: var(--color-acc);
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="text"] {
  cursor: text;
}

input[type="range"] {
  width: 100%;
  margin: 0;
  border-width: 0;
  padding: 0;

  border-radius: var(--input-border-radius);
}

input[type="checkbox"],
input[type="checkbox"]:focus-visible {
  max-width: 0;
  max-height: 0;
  margin: 0;
  border-width: 0;
  padding: 0;

  outline: none;
}

.checkbox-replacement {
  border-radius: var(--input-border-radius);
  height: 1lh;
  padding: var(--input-v-padding);
  width: 100%;
  background-color: var(--color-acc);

  cursor: pointer;
}

input:not([type="checkbox"]):focus,
input[type="checkbox"]:focus + .checkbox-replacement {
  outline-width: .1rem;
  outline-style: ridge;
  outline-color: var(--color-sec);
  outline-offset: .1rem;
}

input:disabled {
  cursor: default;
}

input:disabled:not(.no-visual-disable),
:has(input:disabled) + .input-inline:not(.no-visual-disable),
input:disabled + .checkbox-replacement,
label:has(+ * > input:disabled),
button:disabled {
  cursor: default;
  filter: blur(1.5px);
}

.svg-checkbox-padlock {
  transition: transform var(--transition-time);
}

input[type="checkbox"]:enabled + .checkbox-replacement:hover > .svg-checkbox-padlock {
  transform: rotate(.03turn);
}

.svg-checkbox-padlock .shackle {
  transition: transform var(--transition-time) cubic-bezier(1, -0.43, .81, .44);
}

input[type="checkbox"]:checked + .checkbox-replacement > .svg-checkbox-padlock .shackle {
  transform: translateY(2.5px);
  transition: transform var(--transition-time) cubic-bezier(.19, .56, 0, 1.43);
}

.svg-checkbox-switch .dragger {
  transition:
    cx var(--transition-time) cubic-bezier(0.34, 1.56, 0.64, 1),
    r var(--transition-time);
}

.svg-checkbox-switch .tracker {
  transition: fill-opacity var(--transition-time);
}

input[type="checkbox"]:enabled + .checkbox-replacement:hover > .svg-checkbox-switch .dragger {
  r: 3px;
}

input[type="checkbox"]:checked + .checkbox-replacement > .svg-checkbox-switch .tracker {
  fill-opacity: .3;
}

input[type="checkbox"]:checked + .checkbox-replacement > .svg-checkbox-switch .dragger {
  cx: 16px;
}

.animated-label:has(+ * input:hover) .svg-icon-animation :first-child {
  animation: icon-animation-hover ease .8s alternate infinite;
}

.animated-label:has(+ * input:hover) .svg-icon-animation :nth-child(2) {
  animation: icon-animation-hover ease .8s .2s alternate infinite;
}

@keyframes icon-animation-hover {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(2px);
  }
}

.svg-play-state .pause {
  visibility: hidden;
}

.animation-pausable > .svg-play-state .play {
  visibility: hidden;
}

.animation-pausable > .svg-play-state .pause {
  visibility: visible;
}

.input-inline {
  color: var(--color-acc-light);
  font-weight: 600;
}

.implied-metric-display {
  pointer-events: none;
  visibility: hidden;
}

:has(> .implied-metric) + .implied-metric-display {
  pointer-events: all;
  visibility: inherit;
}

.controls-section {
  display: grid;
  grid-template-columns: 1lh 1fr 1lh;
  align-items: center;
  gap: .5rem;
}

.controls-section > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-section > * > input {
  width: 100%;
}

.controls-section-split {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.controls-section-split > * {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.label-control {
  display: flex;
  flex-direction: row;
  gap: .1rem;

  transition: filter var(--transition-time);
}

.animation-controls-section {
  transform: translateY(-100%);

  max-height: 0;

  opacity: 0;
  pointer-events: none;

  transition:
    max-height var(--transition-time),
    transform var(--transition-time) cubic-bezier(0.46, 1.26, 0.64, 1),
    opacity var(--transition-time);
}

body:has(#setting-enable-animation:checked) .animation-controls-section {
  transform: translateY(0);

  max-height: var(--js-computed-height);

  opacity: 1;
  pointer-events: all;
}

.animation-control {
  display: none;
}

body:has(#setting-enable-animation:checked) .animation-control {
  display: inline;
}

.save-section {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.save-section > * {
  flex-grow: 1;
}

html,
body {
  padding: 0;
  border-width: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
}

#sidebar,
.sidebar-over {
  display: flex;
  flex-direction: column;

  padding: .5rem;

  background-color: var(--color-acc-dark);
}

.sidebar-over {
  width: 100%;
  margin: -.5rem;
  margin-bottom: 0;
  padding-bottom: 0;

  z-index: 1;
}

.sidebar-spacer {
  flex-shrink: 0;

  height: 1.5rem;
}

#sidebar {
  width: 16rem;
  border-width: .1rem;

  border-style: solid;
  border-color: var(--color-acc);
  overflow-x: hidden;
  overflow-y: scroll;
}

#main {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;

  overflow: scroll;
}

#main-canvas {
  background-image: url('/res/canvas-background.svg');
  background-size: 64px;
}