#main-canvas {
    background-image: url('/res/canvas-background.svg');
    background-size: 64px;
}

.animation-control {
    opacity: 0;
    pointer-events: none;
}

body:has(#setting-enable-animation:checked) .animation-control {
    opacity: 1;
    pointer-events: all;
}